
<div class="client_container" id="client">
  <a href="/"><button class="accueil"><i class="fa-solid fa-backward"></i> Accueil</button></a>
  <div class="review_section">
    <div class="stars">
      <h1>Commentaires</h1>
      <i class="fas fa-star" data-id="1"></i>
      <i class="fas fa-star" data-id="2"></i>
      <i class="fas fa-star" data-id="3"></i>
      <i class="fas fa-star" data-id="4"></i>
      <i class="fas fa-star" data-id="5"></i>
      {{!-- get the length of the data or how many reviews  --}}
      {{#if reviewsdata}}
      <p>
        {{reviewsdata.length}} Nouveau Commentaires
      </p>
      {{/if}}
    </div>

    <div class="add_review">
      <i class="fas fa-pen"></i>
      <button class="add_review_btn showAlert">Laisser un commentaire</button>
    </div>
  </div>
  <div class="review-alert">
    <div class="review_text"><i class="fa-regular fa-bell"></i> Please be respectfull once you add a review</div>
    <button class="ok bg-success">Continuer</button>
  </div>
  <div class="review-submit">
    <section class="review-form">
      <form class="form-review" enctype="multipart/form-data">
        <label for="name">Nom:</label>
        <input type="text" id="name" name="name" class="reviewer_name" placeholder="Ajouter Ton Nom" required>
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" class="reviewer_message" placeholder="Ajouter Un Commentaire entre 10 et 20 mots" required></textarea>
        <label for="myfile">Ajouter Une Image:</label>
        <input type="file" id="myfile" name="myfile" class="reviewer_image">
        {{!-- <div class="stars">
          <h5>5 etoil est la bonne lol</h5>
          <i class="fas fa-star" data-id="1"></i>
          <i class="fas fa-star" data-id="2"></i>
          <i class="fas fa-star" data-id="3"></i>
          <i class="fas fa-star" data-id="4"></i>
          <i class="fas fa-star" data-id="5"></i>
        </div> --}}
        <div class="review_btn_submit_wrapper">
          <button type="submit" class="review_btn_submit" style="margin: 10px;">Ajouter</button>
        </div>
      </form>
    </section>
  </div>

  <div class="clients">
    {{#each reviewsdata}}
      <div class="testimonial-card">
        <div class="testimonial-content">
          <img src="/images/{{image}}" alt='{{id}}'> 
          {{!-- <h2>{{createdAt}}</h2> --}}
          <h2>{{name}}</h2>
          <p class="my_comment">{{my_comment}}</p>
        </div>
      </div>
    {{/each}}
  </div> 

</div>
<script src="/JavaScript/showAlert.js"></script>
<script src="/JavaScript/addReview.js"></script>